/* .app{
  
  height: 100vh;

}
.authContainer{
  background-color: rgb(255, 252, 205);
  display: flex;
  
}
.formContainer{
  margin-top: 20px;
  background-color: rgb(196, 233, 255);
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 400px;
  border-radius: 10px;
 
}
input{
  width: 200px;
  height:10px;
  padding: 10px;
  margin-top:10px ;
  border-radius: 5px;
  border: none;
  border-bottom: black solid 1px;
}
button{
  text-align: center;
  width: 80px;
  
  height: 30px;
  
} */